<footer class="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="offset-1 col-4">
                <div class="footer-section">
                    <div class="footer-section__title">
                        О студии
                    </div>
                    <div class="footer-section__desc">
                        <p>
                            Фотография и видеосъемки в Воронеже.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="offset-1 col-4">
                <div class="footer-section">
                    <div class="footer-section__title">
                        Контакты
                    </div>
                    <div class="footer-section__desc">
                        <p>+7 777 889 543 21</p>
                        <p>+7 777 889 543 21</p>
                        <p>rita@yandex.ru</p>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</footer>