<section class="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="socials">
                    <a href="#" class="socials__link">
                        <i class="socials__item fab fa-vk"></i>
                    </a>
                    <a href="#" class="socials__link">
                        <i class="socials__item fab fa-odnoklassniki"></i>
                    </a>
                    <a href="#" class="socials__link">
                        <i class="socials__item fab fa-vimeo-v"></i>
                    </a>
                </div>
            </div>
            <div class="col-12">
                <div class="phone">
                    <p class="phone__text">
                        +7 888 123 1265
                    </p>
                </div>
            </div>
        </div>
        <div class="row top-row">
            <div class="col-lg-6 col-12">
                <div class="logo">
                    <p class="logo__text">РИТА КОМАРОВА</p>
                    <p class="logo__desc">Видеограф</p>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <input class="burger-check" id="burger-check" type="checkbox"><label for="burger-check" class="burger"></label>
                <nav class="main-menu-holder">
                    <ul class="nav-menu">
                        <li class="menu-item">
                            <a href="index.html">Главная</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Портфолио</a>
                            <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="weddings.html">Свадьбы</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="photosessions.html">Фотосессии</a>
                                    </li>
                                </ul>
                        </li>
                        <li class="menu-item">
                            <a href="contacts.html">Контакты</a>
                        </li>
                        <li class="menu-item">
                            <a href="testimonials.html">Отзывы</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</section>